[{:db/ident :message/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :message/from
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :from/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :from/is_bot
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/ident :from/first_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :from/last_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :from/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :from/language_code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :message/chat
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :chat/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :chat/all_members_are_administrators
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/ident :chat/first_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :chat/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :chat/under-assistance?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/ident :chat/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :chat/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :message/date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :message/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :message/tag
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :issue/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  ;;:db/unique :db.unique/identity
  }
 {:db/ident :issue/id
  :db/valueType :db.type/long
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}
 {:db/ident :issue/priority
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :issue/scheduled
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident :conversation/summary
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :conversation/tag
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}
 {:db/ident :conversation/message
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :note/title
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}
 {:db/ident :note/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :note/link
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}
 {:db/ident :note/summary
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}]